.container-md {
  background-color: var(--white);
  border: var(--black);
  border-radius: 5px;
  text-decoration: none;
}

.card:hover {
  background-color: var(--hover);
  transition: background-color 0.3s ease;
}

[class*='col-md-'] {
  border: 0;
}

select,
input {
  height: 35px;
}
