.container-md {
  background-color: var(--white);
  border: var(--black);
  border-radius: 5px;
}

.card:hover {
  background-color: var(--hover);
  transition: background-color 0.3s ease;
}

[class*='col-md-'] {
  border: 0;
}

select,
input {
  height: 35px;
}

.logo {
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.2);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

tr {
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s;
}

tr:hover {
  background-color: #e0f7fa;
}

td {
  padding: 10px;
}

#player-card {
  padding: 0.25rem;
}

@media (max-width: 576px) {
  .player-info {
    display: none;
  }
}
