:root {
    --black: #020202;
    --white: #ffffff;
    --blue: #00425c;
    --hover: #5dade2;
    --purple: #6a1b9a;
}

body {
    background-color: var(--purple);
}

h1 {
    text-align: left;
    color: var(--white);
}

.team-name {
    color: var(--black);
    font-weight: bold;
}

.card {
    margin: 2px;
}

.card:hover {
    background-color: var(--hover);
    transition: background-color 0.3s ease;
}

.league-logo {
    width: 300px;
}
