body {
  background-color: var(--purple);
}

h1 {
  text-align: center;
  color: var(--white);
  font-size: 20px;
  font-family: 'Merriweather', serif;
}

@media (min-width: 414px) {
  h1 {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 40px;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 60px;
  }
}

h2 {
  text-align: center;
}

h3 {
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

p {
  font-size: 15px;
  font-family: 'DM Serif Display', serif;
  color: white;
}

@media (min-width: 414px) {
  p {
    font-size: 20px;
    font-family: 'DM Serif Display', serif;
  }
}

@media (min-width: 768px) {
  p {
    font-size: 15px;
    font-family: 'DM Serif Display', serif;
  }
}

@media (min-width: 1024px) {
  p {
    font-size: 20px;
    font-family: 'DM Serif Display', serif;
  }
}

#team-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

#team-logo:hover {
  transform: scale(1.2);
}

#team-logo img {
  max-width: 100%;
  max-height: auto;
}

@media (min-width: 414px) {
  #team-logo img {
    max-width: 100%;
  }
}

.team-name {
  color: var(--black);
  font-size: 12px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .team-name {
    font-size: 16px;
  }
}

.card:hover {
  background-color: var(--hover);
  transition: background-color 0.3s ease;
}

.league-logo {
  width: 300px;
}

.container-md {
  background-color: var(--white);
  border: var(--black);
  border-radius: 5px;
}

[class^='col'] {
  padding: 1rem;
}

.player-info {
  display: flex;
  justify-content: space-between;
}

.social-media-icons {
  font-size: 30px;
}

@media (min-width: 414px) {
  .social-media-icons {
    font-size: 50px;
  }
}

.ranking strong {
  font-size: 15px;
}

@media (min-width: 414px) {
  .ranking strong {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .ranking strong {
    font-size: 25px;
  }
}

.roster-style {
  font-size: 15px;
}

@media (min-width: 768px) {
  .roster-style {
    font-size: 13px;
  }
}

@media (min-width: 992px) {
  .roster-style {
    font-size: 15px;
  }
}

.schedule-style {
  font-size: 12px;
}

@media (min-width: 576px) {
  .schedule-style {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .schedule-style {
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  .schedule-style {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .schedule-style {
    font-size: 15px;
  }
}

.transition-fade {
  transition: opacity 0.5 ease-in-out;
}

.transition-fade:hover {
  opacity: 0.7s;
}

#inner-row-1 {
  border: 2px solid;
  border-radius: 5px;
  background-color: #94bee5;
}

#inner-row-2 {
  border: 2px solid;
  border-radius: 5px;
  background-color: #94bee5;
}

#team-stadium-img {
  max-width: 100%;
  height: auto;
}

.win-color {
  color: green;
  font-weight: bold;
}

.draw-color {
  color: black;
  font-weight: bold;
}

.loss-color {
  color: rgb(170, 3, 3);
  font-weight: bold;
}

.header-cell {
  font-size: 12px;
}

@media (min-width: 576px) {
  .header-cell {
    font-size: 14px;
  }
}

#outcome,
#outcome-header,
#score-header,
#scores {
  text-align: center;
}
