.home-container {
  background-color: white;
}

.home-charts {
  display: flex;
  margin-top: 100px;
  gap: 10px;
  width: 100%;
}
.gamematches-container {
  width: 65%;
}

.chart-content {
  height: 300px;
}

@media (min-width: 1230px) {
  .chart-content {
    height: 400px;
    width: 750px;
  }

  .past-match-container {
    width: 350px;
  }
}

@media (min-width: 992px) and (max-width: 1229px) {
  .chart-content {
    height: 300px;
    width: 600px;
  }
}

@media (max-width: 1110px) {
  .gamematches-container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 991px) {
  .chart-content {
    height: 200px;
    width: 400px;
  }
}
