/* HomeComps.css */

.match-list-container {
  height: 400px;
  overflow-y: auto;
  padding: 10px; /* Add padding for better visual separation */
  border: 1px solid #ddd; /* Add a border for a container look */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 500px;
}

.match-date {
  font-size: 20px;
  margin-bottom: 8px;
}

.past-match-container {
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.match-list {
  list-style-type: none;
  padding: 0;
}

.match-item {
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.match-item:hover {
  background-color: #f7f7f7;
}

.team-info {
  margin-bottom: 8px;
}

.team-names {
  display: flex;
  flex-direction: column;
}

.match-scores {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
