/* HomeComps.css */

.match-list-container,
.live-game {
  padding: 5px;

  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.all-past-matches {
  display: flex;
  flex-direction: column;
}

.live-game {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.match-date {
  font-size: 20px;
  margin-bottom: 8px;
  align-self: center;
  min-width: 100px;
}

.past-match-container {
  gap: 8px;
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
}

.match-list {
  margin-top: 5px;
  margin-bottom: 5px;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.match-item {
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  min-width: 240px;
}

.match-home-score,
.match-away-score {
  margin-left: auto;
}

.match-item:hover {
  background-color: #f7f7f7;
}

.team-names {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

@media (max-width: 991px) {
  .past-match-container {
    flex-direction: column;
  }

  .match-item {
    width: 300px;
  }

  .gamematches-container {
    margin: auto;
  }

  .match-date {
    display: flex;
    gap: 10px;
  }

  .match-list-container,
  .live-game {
    margin: auto;
    margin-top: 20px;
  }
}

.match-away-logo,
.team-logo {
  max-width: 30px;
  min-width: 30px;
}

@media (max-width: 415px) {
  .past-match-container {
    width: 100%;
  }

  .past-match-container .team-names {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
  }

  .team-cell {
    gap: 10px;
    width: 100%;
  }

  .match-name {
    max-width: 90px;
  }

  .past-match-container .match-item {
    flex-direction: column;
    min-width: 0;
    width: 100%;
  }

  .match-away {
    flex-direction: row-reverse;
    justify-content: flex-start;
  }

  .match-away-score {
    width: 100%;
  }

  .match-name {
    line-height: 1.2;
  }
  .match-name {
    text-align: center;
  }
}
