.home-container {
  background-color: white;
}

.home-charts {
  display: flex;
  margin-top: 25px;
  gap: 10px;
  width: 100%;
}
.gamematches-container {
  width: 70%;
  margin-left: 10px;
}

.chart-content {
  width: 50%;
  height: 400px;
  margin: auto;
  margin-top: 30px;
}

@media (max-width: 991px) {
  .chart-content {
    width: 90%;
  }
}

@media (max-width: 850px) {
  .home-charts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gamematches-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

h1 .league-logo {
  width: 100px;
}

@media (min-width: 1400px) {
  h1 .league-logo {
    width: 250px;
  }
}

@media (max-width: 414px) {
  #team-ranking-container {
    padding: 8px;
  }
}
