.live-game {
  margin-top: 10px;
  width: 100%;
}

.live-header {
  color: black;
}

.live-left {
  display: flex;
  gap: 10px;
}

.live-game .match-item {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
}

.live-clock {
  align-self: center;
  font-size: 20px;
}

.circle-icon {
  align-self: center;
  width: 20px;
  height: 15px;
  background-color: #ff0000;
  border-radius: 50%;
  animation: fadeInOut 2.5s linear infinite;
}

.no-live {
  text-align: center;
}

.no-live p {
  font-size: 25px;
  margin-top: 10px;
  color: black;
}

.no-live img {
  width: 80%;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.live-game .team-names {
  gap: 10px;
}

.live-game .team-logo {
  max-width: 30px;
  max-height: 30px;
}

@media (max-width: 991px) {
  .live-game {
    width: 100%;
    margin-top: 20px;
  }
}
